<header>

</header>
<main>
    <section>
        <div>
            <h1>Minor Web Design & Development 98-99</h1>
            <h2>Bedankt voor het invullen! de data wordt naar <span>hem</span> gestuurd, <span>wees er klaar voor</span>.</h2>

            <p>Dit is wat je heb ingevuld:</p>
            <p>Naam: {{data.naamstudent}}</p>
            <p>Studentennummer: {{data.studentnummer}}</p>
            <table>
                <tr>
                    <th>{{data.vaknaam.[0]}}</th>
                    <th>{{data.vaknaam.[1]}}</th>
                    <th>{{data.vaknaam.[2]}}</th>
                    <th>{{data.vaknaam.[3]}}</th>
                </tr>
                <tr>
                    <td>{{data.docent.[0]}}</td>
                    <td>{{data.docent.[1]}}</td>
                    <td>{{data.docent.[2]}}</td>
                    <td>{{data.docent.[3]}}</td>
                </tr>
                <tr>
                    <td>{{data.week.[0]}}</td>
                    <td>{{data.week.[1]}}</td>
                    <td>{{data.week.[2]}}</td>
                    <td>{{data.week.[3]}}</td>
                </tr>
                <tr>
                    <td>Leerstof</td>
                    <td>Leerstof</td>
                    <td>Leerstof</td>
                    <td>Leerstof</td>
                </tr>
                <tr>
                    <td>{{data.leerstof.[0]}}</td>
                    <td>{{data.leerstof.[1]}}</td>
                    <td>{{data.leerstof.[2]}}</td>
                    <td>{{data.leerstof.[3]}}</td>
                </tr>
                <tr>
                    <td>Uitleg</td>
                    <td>Uitleg</td>
                    <td>Uitleg</td>
                    <td>Uitleg</td>
                </tr>
                <tr>
                    <td>{{data.uitleg.[0]}}</td>
                    <td>{{data.uitleg.[1]}}</td>
                    <td>{{data.uitleg.[2]}}</td>
                    <td>{{data.uitleg.[3]}}</td>
                </tr>
                <tr>
                    <td>Eigen inzicht</td>
                    <td>Eigen inzicht</td>
                    <td>Eigen inzicht</td>
                    <td>Eigen inzicht</td>
                </tr>
                <tr>
                    <td>{{data.inzicht.[0]}}</td>
                    <td>{{data.inzicht.[1]}}</td>
                    <td>{{data.inzicht.[2]}}</td>
                    <td>{{data.inzicht.[3]}}</td>
                </tr>
            </table>
        </div>
        <p>Dit bestand is opgeslagen in Voorhees.json</p>
        <img src="/images/lieveman.png" alt="image of Jason Voorhees">
    </section>
</main>
  <footer>
    <div>
      <div></div>
      <div></div>
      <div>
        <div></div>
        <div></div>
      </div>
    </div>
  </footer>